<!--THE MAIN STRUCTURE OF THE CODE WAS TAKING FROM https://github.com/mikhail-cct/xml-bootcamp -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CA1 IWA">
    <meta name="author" content="William Souza 2020449 forking from https://github.com/mikhail-cct/xml-bootcamp ">

    <title>Mr Handyman </title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">Mr Handyman</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                   <li class="nav-item"></li>
                        <a class="nav-link" href="index.html">Home
                          </a>
                    </li>
                     <li class="nav-item active">
                    
                        <a class="nav-link" href="staff.html">Staff</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Quotations History</h1>
                <p class="lead">Please select your items from the menu below</p>
            </div>
            <div id="results" class="col-lg-8 order-2 mb-5"></div>
            <div class="col-lg-4 order-1">
                <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button>
                <p class="text-muted text-center">To delete a quote please, click the required row first</p>
               
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container text-center"><span class="text-muted">&copy; 2020</span></div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/table.js"></script>
    <script src="js/services.js"></script>
    </body>

</html>