html{
    min-height: 100%;
    min-height: 100%;
}
body {
  min-height: 100%;  
  font-family: Verdana;
  background: url("https://cdn.pixabay.com/photo/2019/07/10/13/14/tools-4328655_960_720.jpg")
  no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover ;
  -moz-background-size: cover ;
  margin: 0;
  padding: 0;

}
h4 {
    font-size: 140%;
    color: #0D3427;
    margin-top: 10px;
}
p {
    font-size: 80%;
    color: #0f0d0a;
}
table {
    background-color: rgb(247, 247, 248);
    border-color: #06187c;
    border-width: thin;
    border-collapse: collapse;
    width: 75%;
}
th {
    border-color: #000000;
    font-size: 120%;
    color: #06187c;
}
td {
    border-color: #000000;
    font-size: 100%;
    color: #06187c;
    padding: 5px;
}
.navbar-brand{
  font-weight: 900;
  font-size:30px;
  font-family: Verdana;
  text-align: center!important;
  padding-bottom: 15px ;
}

.navbar-toggle {
    z-index:1;
    display: grid;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}
.text-center {
    text-align: center!important;
}

.panel-group {
  
  padding: 1rem;  
  position: center;  
  width: 500px;
  margin: auto;
  border: 3px solid rgb(3, 114, 189);
}
.container {
    
    position: relative;
}
 
html, body {
    height: 100%;
    background-color: #333;
}
